body
{
background-image: radial-gradient(circle, red, yellow, green);
}
    
h1
{
    text-align: center;
    margin-top: auto;
    color:black;
}
.text
{
    font-size:30px;
    font-weight: 200px;
    font-family: 'Times New Roman', Times, serif;
    font-style:italic ;
    align-items: center;
}
table
{
    margin: 20px auto;
    border-radius: 20px;
    color:#020202;
    box-sizing: border-box;
    border-color:rgb(105, 92, 92);
    font-family: 'Brush Script MT', cursive;
  
}
.Square
{
    background-color:cornsilk;
}
td
{
    width: 100px;
    height: 100px;
    background:cornsilk;
    font-size: 60px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;

}

table tr td:hover
{
    background:#2c3531;
    cursor:pointer;
    border-radius:25px;
}
.but
{
    background:rgb(105, 92, 92);;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 50px;
    cursor: pointer;
    padding: 10px;
    border: 2px solid white;
    color: white;
}

.but:hover
{
    color: greenyellow;
}


